* {
    font-family: 'Work Sans';
}

body{
    background: #F4F8FA;
}

/* --------- Navigation ----------*/

.navigation {
    width: inherit;
    background-color: rgb(255, 255, 255);
    /* font-weight: bold; */
    margin: -10px;
    padding: 10px;

}

.logo {
    width: 10vw;
    padding: 0%;
    padding-left: 5%;
}

/* -------- Main -------- */

.container {
    width: inherit;
    height: 8vh;
    background: #F4F8FA;

}

.main {
    margin-left: -25%;
}

/* ----------- Inputs From Users --------------- */

input {
    width: 25vh;
    border: none;
    padding: 15px;
    padding-left: 45px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    /* margin-bottom: 10%; */
}

button {
    margin-left: 70%;
    background: #1B31A8;
    color: white;
    border: none;
    align-items: center;
    height: 62px;
    width: 141px;
    border-radius: 32px; 
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}


i-1 {
    position: absolute;
    padding: 8px 2px;
    color: rgb(255, 0, 0);
    /* padding-left: 10%; */
}

i-2 {
    position: absolute;
    padding: 8px 2px;
    color: rgb(255, 0, 0);
    /* padding-left: 10%; */
}

ip-1{
    line-height: 180%;
}

ip-2{
    line-height: 180%;
}


/* -------- Result --------- */

.title {
    padding-top: 2%;
    font-size: large;
    color: #1B31A8;
}

.output {
    width: 30vw;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
}

.box-1 {
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    /* font-size: 30px; */
}

.flex-box {
    display: flex;
    padding-top: 2%;
    padding-inline: 25%;

}

.map {

    margin-left: 10%;
    float: right;
    box-shadow: 0px 0px 70px rgb(209, 209, 209);
}

/*---------- Map -------- */

#googleMap {

    margin-left: 20%;
    float: right;
    border: none;
    /* box-shadow: 0px 0px 70px rgb(209, 209, 209); */
    box-shadow: #949494 0px 20px 20px -10px;
    min-width: 40vw;
    height: 60vh;

}

/* ------------ Output Message ------------- */


.box-1 {
  background-color: white;
  padding: 1.5rem;
}
.distance {
  font-size: 20px;
  margin-top: 5px;
}
.km {
  padding-left: 40%;
  font-size: 30px;
  color: #0079ff;
  font-weight: bold;
}
.box-2 {
  padding: 1.5rem;
}
.op-msg {
  font-size: 0.9rem;
}


/* ---------- for responsive web design ---------- */


@media (max-width: 400px) {
  .flex-box {
    flex-direction: column;
  }

  #googleMap {
    margin-top: 10%;
    /* margin-left: -10%; */
    margin-right: -20px;
    margin-left: -70px;
    margin-bottom: 30%;
    /* margin: 5%; */
    /* float: right; */
    /* border: none; */
    /* box-shadow: 0px 0px 70px rgb(209, 209, 209); */
    /* box-shadow: #949494 0px 20px 20px -10px; */

    min-width: 110vw;
    height: 50vh;
  }
  button {
    margin-top: 4%;
  }

  .output {
    width: 90vw;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
  }
  .box-1 {
    background-color: white;
    padding: 1.5rem;
  }
  .distance {
    font-size: 20px;
    margin-top: 5px;
  }
  .km {
    padding-left: 30%;
    font-size: 20px;
    color: #0079ff;
    font-weight: bold;
  }
  .box-2 {
    padding: 1.5rem;
  }
  .op-msg {
    font-size: 0.9rem;
  }

  .logo {
    width: 30vw;
    padding: 0%;
    padding-left: 5%;
  }

  .navigation {
    width: 120%;
    margin: 5%;
    /* width:initial; */
    background-color: rgb(255, 255, 255);
    /* font-weight: bold; */
    margin: -10px;
    padding: 10px;
  }
}

